<header class="navigation-container">
  <nav>
    <ul class="navigation-list">
      <li class="navigation-item">
        <a 
          href="/" 
          class="navigation-link 
          <%= pageTitle === 'Home' ? 'active' : ''%>">Home</a>
      </li>
      <li class="navigation-item">
        <a 
          href="/users" class="navigation-link <%= pageTitle === 'Users' ? 'active' : ''%>">Users</a>
      </li>
    </ul>
  </nav>
</header>