<%- include('includes/header.ejs') %>
  <link rel="stylesheet" href="/css/form.css">
</head>
<body>

  <%- include('includes/navigation.ejs') %>

  <main class="main-content">
    <form action="/add-user" method="post" class="main-form">
      <div>
        <label for="user">username </label>
      </div>
      <div class="main-container">
        <input type="text" id="user" name="user" class="main-input" required>
        <button type="submit" class="main-button">ADD USER</button>
      </div>
    </form>
  </main>
</body>
</html>